[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kutils"]
	path = kutils
	url = https://github.com/cran/kutils
[submodule "rockchalk"]
	path = rockchalk
	url = https://github.com/cran/rockchalk
[submodule "semTable"]
	path = semTable
	url = https://github.com/cran/semTable
[submodule "stationery"]
	path = stationery
	url = https://github.com/cran/stationery
